@model IEnumerable<SBBScan.Models.Product>

@{
    ViewData["Title"] = "Home";
}

<h1>Home</h1>

<p>
    <a asp-action="Index">View All</a>
</p>

<h4>Barcode:</h4>
    <input type="text" autofocus class="form-control" name="barcode" asp-id="input_barcode" />

<br />
<button class="btn btn-primary" type="submit">Submit</button>
<br />
<br />
<br />
<h3><span> Product Name Display </span></h3>
<h1><span> $0.00 </span></h1>


