@model SBBScan.Models.Product

@{
    ViewData["Title"] = "Home";
}


<div class="mt-4">
    <form asp-action="Home">
        <h4 class="text-center">Barcode:</h4>
        <input type="text" autofocus class="form-control" name="barcode" asp-id="input_barcode" />

        <br />
        <button class="btn btn-primary invisible" type="submit">Submit</button>
    </form>
</div>

<div class="mt-3 text-center">
    <h3><span> @(Html.DisplayFor(model => model.Name)) </span></h3>

    <h1><span> @(Html.DisplayFor(model => model.Price)) </span></h1>
</div>

